#address-1{
	width: 100%;
	background: #eee;
}
.btnw{margin:3px 5px; display: inline-block; border-radius: 6px; width: 70px;}
.logistcs001 tr:nth-child(even) {background: #CCC}
.logistcs001 tr:nth-child(odd) {background: #FFF}
#address-1 .table031{ border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;}
#address-1 .table031 thead td{font-size: 14px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #FEFEFE; font-weight: bold; text-align: left; padding: 7px; color: #222222;}
#address-1 .table031 tbody td{font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 5px;vertical-align: top;}
#address-1 .input-text{padding: 5px; width: 100%; border: 2px solid #ddd; border-radius: 4px;}
#address-1 .input-textarea{padding: 5px; width: 100%; border: 2px solid #ddd; border-radius: 4px;}

#address-1 .input-select{padding: 5px;width: 100%; border: 2px solid #ddd; border-radius: 4px;}

#address-1 .table01{border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;}
#address-1 .table01 thead td{font-size: 14px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #FEFEFE; font-weight: bold; text-align: left; padding: 7px; color: #222222;}
#address-1 .table01 tbody td{font-size: 14px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;}
#address-1 .table01 tbody td select{font-size: 14px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px; color: #000;}
#address-1 .table01 .td-right{width: 50%;}
#address-1 .table01 .td-left{width: 50%;}

#address-1 .table02{border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;}
#address-1 .table02 > thead > td{font-size: 14px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #FEFEFE; font-weight: bold; text-align: left; padding: 7px; color: #222222;}
#address-1 .table02 > tbody > td{font-size: 14px;  border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;}

#return-order{display: inline-block;width: 110px; font-size: 14px; margin-bottom: 5px;}
#cancel{display: inline-block;width: 130px; font-size: 14px; margin-bottom: 5px;}
#verify{display: inline-block;width: 110px; font-size: 14px; margin-bottom: 5px;}
#edit-btn{display: inline-block;width: 130px; font-size: 14px; margin-bottom: 5px;}
.pointer{cursor:pointer!important}